html, body, #container {
  width:100%;
  height:100%;
  background:#444;
  color:#fff;
  font-family: 'Signika Negative', sans-serif;
  overflow:hidden;
}

div { position: absolute; }
.playTxt:hover {
  background-color:#20bf55;
  background-image:linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  color: white;
}